<ion-view view-title="Work">
  <ion-content class="">
    <div class="header-bar item item-image">
      <i class="icon ion-ios-gear-outline work-text-color"></i>
    </div>
    <div class="item item-text-wrap">
      <h2>What we do</h2>
    </div>
    <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-iphone"></i>
          mobile apps
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-social-html5"></i>
          web apps
        </div>
    </div>
    <div class="item item-text-wrap">
      <h2>How we do</h2>
    </div>
    <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-ios-barcode"></i>
          agile
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-timer"></i>
          fast
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-bolt"></i>
          powerful
        </div>
    </div>
  </ion-content>
</ion-view>
