<ion-view view-title="Team">
  <ion-content class="">
    <div class="header-bar item item-image">
      <i class="icon ion-ios-game-controller-b team-text-color"></i>
    </div>
    <div class="item item-text-wrap">
      <h2>Who we are</h2>
    </div>
    <div class="item item-text-wrap">
      <p>
        Our team core is mobile and front-end developers. We work with high qualified interface designers, illustrators and sound designers.

        <br>
        <br>

        In some projects we work with 3d, graphic and identity designers.

        <br>
        <br>

        Our teammates get awwwards, fwa and other awards.

      </p>
    </div>
  </ion-content>
</ion-view>
