<ion-view view-title="Projects">
  <ion-content class="">
    <div class="header-bar item item-image">
      <i class="icon ion-ios-albums-outline projects-text-color"></i>
    </div>
    <div class="item item-text-wrap">
      <h2>What we have</h2>
    </div>
    <div class="list">
<!--       <a href="http://dt.htdt.ru/" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-html5"></i>
        Digital trip
      </a> -->
      <a class="item item-icon-left" href="http://maddevel.com/pokerstata/" target="_blank">
        <i class="icon ion-iphone"></i>
        PokerStata
      </a>
    </div>
  </ion-content>
</ion-view>
