<ion-view view-title="About">
  <ion-content class="">
    <div class="header-bar item item-image">
      <i class="icon ion-ios-infinite about-text-color"></i>
    </div>
    <div class="item item-text-wrap">
      <h2>Mad Devel</h2>
    </div>
    <div class="item item-text-wrap">
      <p>
        We are a team of developers. We create applications we like to use and we create games we like to play.
        <br>
        <br>

        We are always open to new ideas and interesting suggestions. You want to make mobile or web application?

        <br>
        <br>

        <a class="button button-block button-light activated" href="mailto:da@maddevel.com">Contact Us</a>

        <br>

        <small style="color:#aaa; font-size: 0.8em">Mad Apps LLC</small>

      </p>
    </div>
  </ion-content>
</ion-view>
